* {
    font-family: Poppins;
    color: white;
}

body {
    background-color: black;
    margin: 0;
    background-image: url(bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: calc(15px + 0.390625vw);
    overflow-x: hidden;
}

.navbar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 2;
    backdrop-filter: blur(3px) brightness(50%);
    padding-top: 5px;
    width: 100%;
}

.logo {
    padding: 10px;

}

.logo img {
    height: 36px;
    border: 2px solid rgb(212, 180, 0);
    border-radius: 5px;
}

.name {
    text-align: center;
    white-space: nowrap;
}

.links {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

a {
    padding: 0px 5px
}

.menu span{
    display: none;
}

.menu input {
    display: none;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    max-width: 100%;
    margin-top: 45px;
}

.mypic {
    padding: 0;
    text-align: center;
    animation: picin 1.5s ease-out 0.5s;
}

.mypic img {
    height: min(90vh, calc(95vw*16/9));
    border-radius: 20px;
    width: auto;
}

.intro {
    width: max(450px, 40%);
    max-width: 90%;
    animation: introin 1.5s ease-out 0.5s;
}

@keyframes picin {
    from{
        opacity: 0;
        translate: 100%;
    }
    to{

    }
}

@keyframes introin {
    from{
        opacity: 0;
        translate: -100%;
    }
    to{

    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 650px) {
    .menu span{
        display: inline;
    }

    .links {
        display: block;
        position: fixed;
        top: 40px;
        right: 0px;
        height: calc(100vh-40px);
        padding: 10px;
        border-radius: 10px;
        border: solid 3px;
        backdrop-filter: blur(10px);
        translate: calc(100% + 10px);
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        margin: 0 10px;
    }
    .link{

    }
    .links a{
        text-decoration: none;
        font-size: larger;
    }
    #ham:checked + .links{
        translate: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen {}